# Scraping & Cleaning Data
https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [3]:
soup = bs(requests.get(link).text, 'lxml')

In [23]:
table = soup.find(id='constituents')

In [28]:
file = open('sp500.txt', 'w')
for row in table.find_all('tr'):
    row = row.text.split('\n')
    if len(row) == 12:
        row.append("NA")
    if len(row) > 13:
        row.pop()
    for column in row[1:]:
        file.write(column + '\t')
    file.write('\n')

In [33]:
data= pd.read_csv('sp500.txt', sep='\t', encoding='cp1252')

In [34]:
data.columns

Index(['Symbol', 'Unnamed: 1', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Headquarters Location', 'Date first added', 'CIK',
       'Founded', 'Unnamed: 10', 'NA', 'Unnamed: 12'],
      dtype='object')

In [35]:
data.drop(columns=['Unnamed: 1','Unnamed: 10', 'NA', 'Unnamed: 12' ], inplace=True)

In [36]:
data.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,0000066740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989