# Working with databases
We are using sqlite, but there are connectors for all other major databases such as mysql postgres, and the workflow is the same: make a connection, initiate cursor, interact

In [9]:
import sqlite3 as sql

In [10]:
#conn = sql.connect(':memory:')
conn = sql.connect('customers.db')

In [11]:
# creating a cursor object allows us to run sql commands
action = conn.cursor()

In [13]:
# create a simple table and save to the db
action.execute("DROP TABLE IF EXISTS customers")
action.execute("""
                CREATE TABLE customers
                (first text,
                last text,
                email text)""")
conn.commit()

In [15]:
action.execute("INSERT INTO customers VALUES ('John', 'Dunn', 'jd@gmail.com')")

In [17]:
action.execute("SELECT * FROM customers")
# fetchone(), fetchmany(5), fetchall()
action.fetchall()

[('John', 'Dunn', 'jd@gmail.com')]

In [18]:
action.execute("INSERT INTO customers VALUES ('Olivia', 'Dunn', 'od@gmail.com')")

In [19]:
action.execute("SELECT * FROM customers")
# fetchone(), fetchmany(5), fetchall()
action.fetchall()

[('John', 'Dunn', 'jd@gmail.com'), ('Olivia', 'Dunn', 'od@gmail.com')]

In [20]:
import pandas as pd

In [21]:
pd.read_sql("SELECT * FROM customers", conn)

    first  last         email
0    John  Dunn  jd@gmail.com
1  Olivia  Dunn  od@gmail.com