In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
conn = sql.connect('nba.db')
action = conn.cursor()

In [3]:
nba = pd.read_csv('nba_draft.csv')

In [5]:
type(nba)
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 35 columns):
column_a            3961 non-null int64
player              3961 non-null object
all_nba             3961 non-null int64
all_star            3961 non-null int64
draft_yr            3961 non-null int64
pk                  3961 non-null int64
team                3961 non-null object
college             3961 non-null object
yrs                 3961 non-null int64
games               3961 non-null int64
minutes_played      3961 non-null int64
pts                 3961 non-null int64
trb                 3961 non-null int64
ast                 3961 non-null int64
fg_percentage       3961 non-null float64
tp_percentage       3961 non-null float64
ft_percentage       3961 non-null float64
minutes_per_game    3961 non-null float64
points_per_game     3961 non-null float64
trb_per_game        3961 non-null float64
assits_per_game     3961 non-null float64
win_share           3961 non-null float64
ws_per_game         3961 non-null float64
bpm                 3961 non-null float64
vorp                3961 non-null float64
executive           3961 non-null object
tenure              3961 non-null object
exec_id             3961 non-null int64
exec_draft_exp      3961 non-null int64
attend_college      3961 non-null bool
first_year          3961 non-null bool
second_year         3961 non-null bool
third_year          3961 non-null bool
fourth_year         3961 non-null bool
fifth_year          3961 non-null bool
dtypes: bool(6), float64(11), int64(13), object(5)
memory usage: 920.7+ KB

In [6]:
nba = nba[['player', 'draft_yr', 'pk', 'team', 'college', 
           'yrs', 'games', 'minutes_played','pts', 'fg_percentage', 'ft_percentage']]

In [7]:
action.execute("DROP TABLE IF EXISTS  players ")
action.execute("""CREATE TABLE players(
                    player text,
                    draft_yr integer,
                    pk integer,
                    team text,
                    college text,
                    yrs integer,
                    games integer,
                    minutes_played integer,
                    pts integer,
                    fg_percentage real,
                    ft_percentage real)""")
conn.commit()

In [8]:
nba.to_sql('players', conn, if_exists='append', index=False)

In [9]:
action.execute("SELECT * FROM players")

In [10]:
action.fetchmany(3)

[('Robert Parish',
  1976,
  8,
  'GSW',
  'Centenary College of Louisiana',
  21,
  1611,
  45704,
  23334,
  0.537,
  0.721),
 ('Sonny Parker',
  1976,
  17,
  'GSW',
  'Texas A&M University',
  6,
  452,
  10916,
  4471,
  0.501,
  0.755),
 ('Marshall Rogers',
  1976,
  34,
  'GSW',
  'University of Texas-Pan American',
  1,
  26,
  176,
  100,
  0.371,
  0.9329999999999999)]

In [11]:
action.execute("SELECT Count(*) FROM players")
action.fetchall()

[(3961,)]

In [12]:
action.execute("SELECT avg(games) FROM players")
action.fetchall()

[(187.46149962130775,)]

In [13]:
action.execute("SELECT avg(games) FROM players WHERE pk <= 10")
action.fetchall()

[(621.875,)]

In [14]:
action.execute("SELECT DISTINCT college FROM players ORDER BY college")
action.fetchall()

[('0',),
 ('Alabama A&M University',),
 ('Alabama State University',),
 ('Albany State University',),
 ('Albertson College of Idaho',),
 ('Albright College',),
 ('Alcorn State University',),
 ('Alliant International University',),
 ('American International College',),
 ('American University',),
 ('Angelo State University',),
 ('Appalachian State University',),
 ('Arizona State University',),
 ('Arkansas State University',),
 ('Armstrong Atlantic State University',),
 ('Auburn University',),
 ('Auburn University at Montgomery',),
 ('Augsburg College',),
 ('Augustana College (IL)',),
 ('Augustana College (SD)',),
 ('Austin Peay State University',),
 ('Ball State University',),
 ('Barton County Community College',),
 ('Baylor University',),
 ('Bellarmine University',),
 ('Benedict College',),
 ('Bentley College',),
 ('Biola University',),
 ('Bloomfield College',),
 ('Bloomsburg University of Pennsylvania',),
 ('Boise State University',),
 ('Boston College',),
 ('Boston University',),
 ('Bowling Green State University',),
 ('Bradley University',),
 ('Brandeis University',),
 ('Briar Cliff University',),
 ('Brigham Young University',),
 ('Brigham Young University Hawaii',),
 ('Bucknell University',),
 ('Butler County Community College',),
 ('Butler University',),
 ('California Polytechnic State University, San Luis Obispo',),
 ('California State University, Bakersfield',),
 ('California State University, Dominguez Hills',),
 ('California State University, Fresno',),
 ('California State University, Fullerton',),
 ('California State University, Long Beach',),
 ('California State University, Northridge',),
 ('Cameron University',),
 ('Campbell University',),
 ('Canisius College',),
 ('Carson-Newman College',),
 ('Cawtaba College',),
 ('Centenary College of Louisiana',),
 ('Central Connecticut State University',),
 ('Central Michigan University',),
 ('Central State University',),
 ('Central Washington University',),
 ('Chaminade University of Honolulu',),
 ('Cheyney University of Pennsylvania',),
 ('Chicago State University',),
 ('Christopher Newport University',),
 ('Clark University',),
 ('Clemson University',),
 ('Cleveland State University',),
 ('Colgate University',),
 ('College of Charleston',),
 ('College of Santa Fe',),
 ('College of William & Mary',),
 ('College of the Holy Cross',),
 ('College of the Sequoias',),
 ('Colorado State University',),
 ('Columbia University',),
 ('Columbus State University',),
 ('Concord University',),
 ('Coppin State University',),
 ('Cornell University',),
 ('Creighton University',),
 ('Dartmouth College',),
 ('Davidson College',),
 ('DePaul University',),
 ('Delta State University',),
 ('Dillard University',),
 ('Doane College',),
 ('Drake University',),
 ('Drexel University',),
 ('Drury University',),
 ('Duke University',),
 ('Duquesne University',),
 ('East Carolina University',),
 ('East Oregon University',),
 ('East Tennessee State University',),
 ('East Texas State University',),
 ('Eastern Illinois University',),
 ('Eastern Kentucky University',),
 ('Eastern Michigan University',),
 ('Eastern Washington University',),
 ('Edinboro University of Pennsylvania',),
 ('Elizabeth City State University',),
 ('Fairfield University',),
 ('Fairleigh Dickinson University',),
 ('Fairmont State University',),
 ('Florida Agricultural and Mechanical University',),
 ('Florida International University',),
 ('Florida Southern College',),
 ('Florida State University',),
 ('Fordham University',),
 ('Fort Hays State University',),
 ('Framingham State College',),
 ('Franciscan University of Steubenville',),
 ('Franklin & Marshall College',),
 ('Furman University',),
 ('Gardner-Webb University',),
 ('George Fox University',),
 ('George Mason University',),
 ('George Washington University',),
 ('Georgetown College',),
 ('Georgetown University',),
 ('Georgia Institute of Technology',),
 ('Georgia Southern University',),
 ('Georgia State University',),
 ('Gonzaga University',),
 ('Graceland University',),
 ('Grambling State University',),
 ('Grand Canyon University',),
 ('Hamilton College',),
 ('Hampton University',),
 ('Hardin-Simmons University',),
 ('Harding University',),
 ('Hartwick College',),
 ('Harvard University',),
 ('High Point University',),
 ('Hofstra University',),
 ('Houston Baptist University',),
 ('Howard University',),
 ('Huron University',),
 ('Idaho State University',),
 ('Illinois State University',),
 ('Illinois Wesleyan University',),
 ('Indian Hills Community College',),
 ('Indiana State University',),
 ('Indiana University',),
 ('Indiana University-Purdue University Indianapolis',),
 ('Iona College',),
 ('Iowa State University',),
 ('Jackson State University',),
 ('Jacksonville University',),
 ('James Madison University',),
 ('John Carroll University',),
 ('Johnson C. Smith University',),
 ('Kansas State University',),
 ('Kent State University',),
 ('Kentucky State University',),
 ('Kenyon College',),
 ("King's College",),
 ('La Salle University',),
 ('Lafayette College',),
 ('Lamar University',),
 ('Lambath University',),
 ('LeMoyne College',),
 ('LeMoyne-Owen College',),
 ('Lehigh University',),
 ('Lewis University',),
 ('Lewis and Clark College',),
 ('Liberty University',),
 ('Lincoln University of Missouri',),
 ('Linfield College',),
 ('Lipscomb University',),
 ('Long Island University',),
 ('Long Island University, C.W. Post Campus',),
 ('Longwood University',),
 ('Louisiana College',),
 ('Louisiana State University',),
 ('Louisiana Tech University',),
 ('Loyola College in Maryland',),
 ('Loyola Marymount University',),
 ('Loyola University of Chicago',),
 ('Malone College',),
 ('Manhattan College',),
 ('Marion College',),
 ('Marist College',),
 ('Marquette University',),
 ('Marshall University',),
 ('Marymount College',),
 ('McKendree College',),
 ('McMurry University',),
 ('McNeese State University',),
 ('Mercer University',),
 ('Mercyhurst College',),
 ('Merrimack College',),
 ('Miami University',),
 ('Michigan State University',),
 ('Middle Tennessee State University',),
 ('Midwestern State University',),
 ('Millersville University of Pennsylvania',),
 ('Milligan College',),
 ('Minnesota State University, Mankato',),
 ('Mississippi State University',),
 ('Mississippi Valley State University',),
 ('Missouri Southern State University',),
 ('Missouri State University',),
 ('Missouri Western State College',),
 ('Monmouth University',),
 ('Montana State University',),
 ('Montana State University, Billings',),
 ('Morehead State University',),
 ('Morgan State University',),
 ('Morris Brown College',),
 ("Mount St. Mary's University",),
 ('Murray State University',),
 ('Myers University',),
 ('Nasson College',),
 ('New Jersey City University',),
 ('New Mexico State University',),
 ('New York Institute of Technology',),
 ('Newberry College',),
 ('Niagara University',),
 ('Nicholls State University',),
 ('Norfolk State University',),
 ('North Carolina Agricultural and Technical State University',),
 ('North Carolina Central University',),
 ('North Carolina State University',),
 ('North Dakota State University',),
 ('North Park University',),
 ('Northeast Mississippi Community College',),
 ('Northeastern Illinois University',),
 ('Northeastern University',),
 ('Northern Arizona University',),
 ('Northern Illinois University',),
 ('Northern Michigan University',),
 ('Northern State University',),
 ('Northwest Missouri State University',),
 ('Northwestern Oklahoma State University',),
 ('Northwestern State University',),
 ('Northwestern University',),
 ('Oakland University',),
 ('Oberlin College',),
 ('Ohio State University',),
 ('Ohio University',),
 ('Okaloosa-Walton Community College',),
 ('Oklahoma Christian University',),
 ('Oklahoma City University',),
 ('Oklahoma Panhandle State University',),
 ('Oklahoma State University',),
 ('Old Dominion University',),
 ('Oral Roberts University',),
 ('Oregon State University',),
 ('Pace University',),
 ('Pacific University',),
 ('Pennsylvania State University',),
 ('Pepperdine University',),
 ('Philadelphia University',),
 ('Phillips University',),
 ('Pikeville College',),
 ('Point Park University',),
 ('Portland State University',),
 ('Prairie View A&M University',),
 ('Presbyterian College',),
 ('Princeton University',),
 ('Providence College',),
 ('Purdue University',),
 ('Regis University',),
 ('Rice University',),
 ('Rider University',),
 ('Ripon College',),
 ('Robert Morris University (PA)',),
 ('Rocky Mountain College',),
 ('Rutgers University',),
 ('Rutgers University-Camden',),
 ('Sacred Heart University',),
 ("Saint Augustine's College",),
 ('Saint Francis University',),
 ("Saint Joseph's University",),
 ('Saint Louis University',),
 ("Saint Mary's College of California",),
 ("Saint Mary's University",),
 ("Saint Paul's College",),
 ("Saint Peter's College",),
 ('Salem International University',),
 ('Sam Houston State University',),
 ('Samford University',),
 ('San Diego State University',),
 ('San Jose State University',),
 ('Santa Clara University',),
 ('Savannah State University',),
 ('Seattle University',),
 ('Seton Hall University',),
 ('Seward County Community College',),
 ('Shaw University',),
 ('Siena College',),
 ('Simon Fraser University',),
 ('Slippery Rock University of Pennsylvania',),
 ('South Carolina State University',),
 ('South Dakota State University',),
 ('Southeast Missouri State University',),
 ('Southeastern Illinois College',),
 ('Southeastern Oklahoma State University',),
 ('Southern Illinois University',),
 ('Southern Methodist University',),
 ('Southern Nazarene University',),
 ('Southern University and A&M College',),
 ('Southern Utah University',),
 ('Southwstern University',),
 ('St. Bonaventure University',),
 ('St. Francis College',),
 ("St. John's University",),
 ("St. Mary's University",),
 ('St. Thomas University',),
 ('Stanford University',),
 ('State University of New York at Potsdam',),
 ('State University of West Georgia',),
 ('Stephen F. Austin State University',),
 ('Stetson University',),
 ('Stonehill College',),
 ('Syracuse University',),
 ('Temple University',),
 ('Tennessee State University',),
 ('Tennessee Technological University',),
 ('Texas A&M University',),
 ('Texas A&M University-Kingsville',),
 ('Texas Christian University',),
 ('Texas Southern University',),
 ('Texas State University',),
 ('Texas Tech University',),
 ('The Citadel',),
 ('Thomas More College',),
 ('Towson University',),
 ('Trenton State University',),
 ('Trinity Valley Community College',),
 ('Tulane University',),
 ('Tuskegee University',),
 ('Union College',),
 ('United States Air Force Academy',),
 ('United States Military Academy',),
 ('United States Naval Academy',),
 ('University of Akron',),
 ('University of Alabama',),
 ('University of Alabama at Birmingham',),
 ('University of Alabama at Huntsville',),
 ('University of Alaska Anchorage',),
 ('University of Arizona',),
 ('University of Arkansas',),
 ('University of Arkansas at Little Rock',),
 ('University of Bridgeport',),
 ('University of Calgary',),
 ('University of California',),
 ('University of California, Davis',),
 ('University of California, Irvine',),
 ('University of California, Los Angeles',),
 ('University of California, Riverside',),
 ('University of California, San Diego',),
 ('University of California, Santa Barbara',),
 ('University of Central Arkansas',),
 ('University of Central Florida',),
 ('University of Cincinnati',),
 ('University of Colorado',),
 ('University of Connecticut',),
 ('University of Dayton',),
 ('University of Delaware',),
 ('University of Denver',),
 ('University of Detroit Mercy',),
 ('University of Evansville',),
 ('University of Florida',),
 ('University of Georgia',),
 ('University of Hartford',),
 ('University of Hawaii',),
 ('University of Houston',),
 ('University of Idaho',),
 ('University of Illinois at Chicago',),
 ('University of Illinois at Urbana-Champaign',),
 ('University of Iowa',),
 ('University of Kansas',),
 ('University of Kentucky',),
 ('University of Lethbridge',),
 ('University of Louisiana at Lafayette',),
 ('University of Louisiana at Monroe',),
 ('University of Louisville',),
 ('University of Maine',),
 ('University of Maryland',),
 ('University of Maryland, Baltimore County',),
 ('University of Massachusetts Amherst',),
 ('University of Massachusetts Boston',),
 ('University of Memphis',),
 ('University of Miami',),
 ('University of Michigan',),
 ('University of Minnesota',),
 ('University of Mississippi',),
 ('University of Missouri',),
 ('University of Missouri-Kansas City',),
 ('University of Montana',),
 ('University of Montana-Western',),
 ('University of Nebraska',),
 ('University of Nebraska at Kearney',),
 ('University of Nebraska at Omaha',),
 ('University of Nevada, Las Vegas',),
 ('University of Nevada, Reno',),
 ('University of New Hampshire',),
 ('University of New Haven',),
 ('University of New Mexico',),
 ('University of New Orleans',),
 ('University of North Alabama',),
 ('University of North Carolina',),
 ('University of North Carolina at Charlotte',),
 ('University of North Carolina at Pembroke',),
 ('University of North Carolina at Wilmington',),
 ('University of North Dakota',),
 ('University of North Texas',),
 ('University of Notre Dame',),
 ('University of Oklahoma',),
 ('University of Oregon',),
 ('University of Pennsylvania',),
 ('University of Pittsburgh',),
 ('University of Portland',),
 ('University of Puget Sound',),
 ('University of Rhode Island',),
 ('University of Richmond',),
 ('University of San Diego',),
 ('University of San Francisco',),
 ('University of South Alabama',),
 ('University of South Carolina',),
 ('University of South Carolina Upstate',),
 ('University of South Florida',),
 ('University of Southern California',),
 ('University of Southern Colorado',),
 ('University of Southern Indiana',),
 ('University of Southern Mississippi',),
 ('University of Tampa',),
 ('University of Tennessee',),
 ('University of Tennessee at Chattanooga',),
 ('University of Tennessee at Martin',),
 ('University of Texas at Arlington',),
 ('University of Texas at Austin',),
 ('University of Texas at El Paso',),
 ('University of Texas at San Antonio',),
 ('University of Texas-Pan American',),
 ('University of Toledo',),
 ('University of Tulsa',),
 ('University of Utah',),
 ('University of Virginia',),
 ('University of Washington',),
 ('University of West Florida',),
 ('University of Wisconsin',),
 ('University of Wisconsin-Eau Claire',),
 ('University of Wisconsin-Green Bay',),
 ('University of Wisconsin-Milwaukee',),
 ('University of Wisconsin-Parkside',),
 ('University of Wisconsin-Stevens Point',),
 ('University of Wisconsin-Stout',),
 ('University of Wyoming',),
 ('University of the District of Columbia',),
 ('University of the Pacific',),
 ('Upsala College',),
 ('Utah State University',),
 ('Valdosta State University',),
 ('Valparaiso University',),
 ('Vanderbilt University',),
 ('Villanova University',),
 ('Virginia Commonwealth University',),
 ('Virginia Military Institute',),
 ('Virginia Polytechnic Institute and State University',),
 ('Virginia Union University',),
 ('Wagner College',),
 ('Wake Forest University',),
 ('Walsh University',),
 ('Washington State University',),
 ('Weber State University',),
 ('West Texas A&M University',),
 ('West Virginia State University',),
 ('West Virginia University',),
 ('West Virginia University Institute of Technology',),
 ('West Virginia Wesleyan College',),
 ('Western Carolina University',),
 ('Western Illinois University',),
 ('Western Kentucky University',),
 ('Western Michigan University',),
 ('Western Oregon University',),
 ('Westmont College',),
 ('Wichita State University',),
 ('Widener University',),
 ('William Paterson University',),
 ('Wilmington College',),
 ('Winston-Salem State University',),
 ('Wofford College',),
 ('Wright State University',),
 ('Xavier University',),
 ('Yale University',),
 ('Yeshiva University',),
 ('Youngstown State University',)]

In [15]:
action.execute("SELECT count(DISTINCT college) FROM players ORDER BY college")
action.fetchall()

[(489,)]

In [16]:
action.execute("SELECT player FROM players WHERE college = 'Yale University' ORDER BY college")
action.fetchall()

[('Butch Graves',), ('Chris Dudley',)]

In [17]:
action.execute("SELECT avg(fg_percentage) FROM players WHERE pk <= 10")
action.fetchone()

(0.4599975000000001,)

In [18]:
action.execute("SELECT avg(fg_percentage) FROM players")
action.fetchone()

(0.23137667255743471,)

In [19]:
action.execute("SELECT max(fg_percentage) FROM players")
action.fetchone()

(1.0,)

In [47]:
action.execute("SELECT avg(fg_percentage) FROM players WHERE games > 187")
action.fetchone()

(0.4615921739130436,)

In [56]:
action.execute("SELECT player FROM players WHERE yrs > 20 ORDER BY player")
action.fetchall()

[('Kevin Garnett',), ('Kevin Willis',), ('Robert Parish',)]