### Reading Data Files

In [1]:
import pandas as pd

In [2]:
path = 'ml-1m/'

In [3]:
names = ['movie_id', 'title', 'genre']
movies = pd.read_csv(path+'movies.dat', sep='::',
                    header=None, names=names, engine='python')

In [4]:
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [5]:
user_names = ['user_id', 'gender', 'age', 'occupation', 'zip']

In [7]:
rating_names = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(path+'ratings.dat', sep='::',
                     header=None, names = rating_names, engine='python')

In [9]:
len(ratings[ratings['user_id'] == 1])

53

In [11]:
ratings.groupby('user_id').size().sort_values(ascending=False).head(10)

user_id
4169    2314
1680    1850
4277    1743
1941    1595
1181    1521
889     1518
3618    1344
2063    1323
1150    1302
1015    1286
dtype: int64

In [12]:
data = pd.merge(pd.merge(users, ratings), movies)
data.head()

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genre
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama