In [6]:
import numpy as np
import pandas as pd

In [7]:
path = 'ml-1m/'

In [8]:
mnames = ['movie_id', 'title', 'genre']
movies = pd.read_csv(path+'movies.dat', sep='::',
                     header=None, names=mnames, engine='python')

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv(path+'users.dat', sep='::',
                    header=None, names=unames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(path+'ratings.dat', sep='::', header=None,
                     names=rnames, engine='python')

In [9]:
data = pd.merge(pd.merge(users, ratings), movies)

In [11]:
mean_rating = data[['title', 'rating']].groupby('title').mean()

In [14]:
mean_rating.sort_values(by='rating',ascending=False).head()

                          rating
title
Ulysses (Ulisse) (1954)      5.0
Lured (1947)                 5.0
Follow the Bitch (1998)      5.0
Bittersweet Motel (2000)     5.0
Song of Freedom (1936)       5.0

In [16]:
len(mean_rating)

3706

In [21]:
mean_ratings = data.pivot_table('rating', index='title', columns='gender',
                                aggfunc='mean')
mean_ratings.head()

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [22]:
count_ratings = data.groupby('title').size()
top100 = count_ratings.index[count_ratings > 100]
top100

Index([''burbs, The (1989)', '...And Justice for All (1979)',
       '10 Things I Hate About You (1999)', '101 Dalmatians (1961)',
       '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20 Dates (1998)', '20,000 Leagues Under the Sea (1954)',
       ...
       'Yellow Submarine (1968)', 'Yojimbo (1961)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Your Friends and Neighbors (1998)', 'Zero Effect (1998)',
       'eXistenZ (1999)'],
      dtype='object', name='title', length=2006)

In [23]:
popular = mean_rating.loc[top100].sort_values(by='rating', ascending=False)
popular.head(10)

                                                      rating
title
Seven Samurai (The Magnificent Seven) (Shichini...  4.560510
Shawshank Redemption, The (1994)                    4.554558
Godfather, The (1972)                               4.524966
Close Shave, A (1995)                               4.520548
Usual Suspects, The (1995)                          4.517106
Schindler's List (1993)                             4.510417
Wrong Trousers, The (1993)                          4.507937
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.491489
Raiders of the Lost Ark (1981)                      4.477725
Rear Window (1954)                                  4.476190